<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>News Latter</title>
</head>
<style>
*{margin:0px; padding:0px;}

</style>


<body>
<div class="wrapper" style="width:630px; margin:0px auto; border:1px solid #8b8b8b;">

<div class="header"><img src="http://www.yoolotto.com/newsletter/top_image.png" alt=""/></div>


<div class="contant" style="margin:0 41px 0 41px; ">
<h2 style="font-family:Calibri; font-style:italic; margin-bottom:15px; font-size:26px; color:#fe5a01;">You’ve just won a prize from YooLotto!</h2>
<div class="form_part" style="line-height:37px; margin-bottom:51px;">
<p style="font-family:Calibri; font-size:22px; color:#595958;">
Prize Name: {{ coupon_obj.title }} </p>
<p style="font-family:Calibri; font-size:22px; color:#595958;">
Coupon Description: {{ coupon_obj.description }} </p>
<p style="font-family:Calibri; font-size:22px; color:#595958;">
Valid From: {{ coupon_obj.valid_from }} </p>
<p style="font-family:Calibri; font-size:22px; color:#595958;">
Valid To: {{ coupon_obj.valid_to }} </p>
</div>



<h2 style="font-family:Calibri; font-style:italic; margin-bottom:15px; font-size:26px; color:#fe5a01;">In order for us to send you your prize won through
YooLotto, we just need a few things: </h2>
<div class="form_part" style="line-height:37px; margin-bottom:51px;">
<p style="font-family:Calibri; font-size:22px; color:#595958;">
Full Name: ...............................................................................</p>
<p style="font-family:Calibri; font-size:22px; color:#595958;">
Phone Number: .......................................................................</p>
<p style="font-family:Calibri; font-size:22px; color:#595958;">
The address you’d like the gift sent:  ........................................
...............................................................................
...............................................................................
</p>
</div>


<h2 style="font-family:Calibri; font-style:italic; margin-bottom:15px; font-size:26px; color:#fe5a01;">Thank you for using YooLotto! We look forward to giving you more prizes on us and enhancing
your lottery experience!</h2>
</div>

<div class="fotter" style="margin-top:70px; position:relative; bottom:-4px;"><img src="http://www.yoolotto.com/newsletter/bottom.png" alt=""/>

<div class="social_icon" style="float:left; position:absolute; left: 26px;  bottom: 10px;"><a href="https://www.facebook.com/YooLotto"><img src="http://www.yoolotto.com/newsletter/fb_icon.png" alt=""/></a></div>
<div class="social_icon" style="float:left; position:absolute; left: 94px;  bottom: 10px;"><a href="https://twitter.com/yoolotto"><img src="http://www.yoolotto.com/newsletter/twitter_icon.png" alt=""/></a></div>



</div>








</div>







</body>
</html>
