{% extends "admin/base_site.html" %}
 {% load i18n %}
 {% block breadcrumbs %}
 <div class="breadcrumbs">
     <a href="/admin/">{% trans "Home" %}</a> &rsaquo;
     Yoolotto Debug
 </div>
 {% endblock %}
 
{% block content %}
<form method="post" >
<table width="100%" border="1">
     <tr>
		<th><h3>DETAIL</h3></th><th><h3>ACTION</h3></th>
	 </tr>
    {% for type,info in all_debug.items %}
	<tr>
		<td><h5>{{info}}</h5></td>
		<td><input type="submit" value="DEBUG" name="debug_{{type}}"/></td>
	</tr>
    {% empty%}
     <tr>
		<td colspan="2"> <h4><font face="verdana" color="blue"> Debug disabled at Dev Level !</font></h4> </td>
	 </tr>
    {%endfor%}	

</table>
</form>
    
    <br>
    <br>
    <br>
	{% if current_type %}
	    <h4> DEBUGGING FOR  : {{current_header}} </h4>
	    {% if note %}
	    	<h4><font face="verdana" color="red">NOTE : {{note}}</font></h4> 
	    {%endif%} 
		<h2><br></h2>
		
		{% ifequal current_type "D1" %}
	           
	            {% if data%}
	            <table border="1" width="50%">
	            <tr><th>Invalid Result</th><th>Of Draw</th></tr>
			    {%for invalid_result,of_draw in data%}
				    <tr><td>{{invalid_result}}</td><td>{{of_draw}}</td></tr>
				{%endfor%}
				</table>
				{%else%}
					<h4><font face="verdana" color="green">Congrats, No invalid records found !</font></h4>
				{%endif%}
				
				
			    
        {%endifequal%}
	
	{%endif%}

{% endblock %}

