{% extends "admin/base_site.html" %}
 {% load i18n %}
 {% block breadcrumbs %}
 <div class="breadcrumbs">
     <a href="/admin/">{% trans "Home" %}</a> &rsaquo;
     Send Bulk Notification
 </div>
 {% endblock %}
 
{% block content %}
<form method="post" >
<table width="100%" border="1">
     <tr>
		<th><h4>Send to</h4></th><th><h4>Notification Message</h4></th><th><h4>Action</h4></th>
	 </tr>
     <tr>
		<td>
		<select name="device_type">
			<option value="all"> ALL </option>
			<option value="android"> ANDROID </option>
			<option value="iphone"> IPHONE </option>
		</select>
		</td>
		<td><input type="text" value="" name="message" size="100"/></td>
		<td><input type="submit" value="SEND" name="send_notification" {%if has_pressed %}disabled{%endif%}/></td>
	 </tr>
    
</table>
{%for m in has_messages%}
<pre> <font size="3">{% autoescape off %}{{m}}{% endautoescape %}<font/> </pre>
{%endfor%}
</form>
{% endblock %}

