<html>
<head>
    <meta name="viewport" content="width={{width}}, height={{height}}, user-scalable=0, target-densitydpi=device-dpi">    
    <script type="text/javascript">var p="http",d="static";if(document.location.protocol=="https:"){p+="s";d="engine";}var z=document.createElement("script");z.type="text/javascript";z.async=true;z.src=p+"://"+d+".adzerk.net/ados.js";var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(z,s);</script>
    <script type="text/javascript">
    var ados = ados || {};
    ados.run = ados.run || [];
    ados.run.push(function() {
    {{comment}}
    ados_add_placement(8350, 52986, "{{div_id}}", {{size_id}});
    ados_load();
    });</script>    
</head>
<body style="padding: 0px; margin: 0px;">
    <div id="{{div_id}}"></div>
</body>
</html>